#{extends 'main.html' /}
#{set title:"Spacebook Home Page for ${user.firstName} ${user.lastName}" /}
#{include 'nav.html' /}

<div id="maincontent">
  <div id="primary">     
    <h2> Friends </h2> 
    <h2> Following (${user.following.size()}) </h2> 
      <ul> 
        #{list items:user.following, as:'user'}
          <li> 
            <a href="userprofile/${user.id}"> ${user.firstName} ${user.lastName} </a> : <a href="home/drop/${user.id}">Drop</a>
          </li>
        #{/list}
      </ul>     
    <h2> Followers </h2> 
  </div>  
  <div id="secondary">
    <h2> Messages </h2> 
      #{if usermessages.size() > 0}
        <ul>
          #{list items:usermessages, as:'usermessage'}
            <li> ${usermessage.from.firstName} says ${usermessage.messageText} </li>
          #{/list}
       </ul>
      #{/if}     
  </div>
</div>