#{extends 'main.html' /}
#{set title:"Spacebook: ${user.firstName} ${user.lastName}'s Home Page" /}

<div id="maincontent">
  <div id="primary">      
    <p> 
      <img src="/homeprofile/getpicture/${user.id}"/> 
    </p> 
    <p>
      ${user.statusMessage}
    </p>    
    <form action="/userprofile/leavemessage/${user.id}" method="post">         
      <textarea name="message" cols="30" rows="2" ></textarea>     
      <input type="submit" name="submit" value="Leave Message"  />  
    </form>    
    <a href="/home"> Back to Home...</a>
  </div>  
  <div id="secondary">
    <h2> Messages </h2> 
      #{if usermessages.size() > 0}
        <ul>
          #{list items:usermessages, as:'usermessage'}
            <li> ${usermessage.from.firstName} says ${usermessage.messageText} </li>
          #{/list}
        </ul>
      #{/if} 
  </div>
</div>

