#{extends 'main.html' /}
#{set title:"Spacebook Home Profile for ${user.firstName} ${user.lastName}" /}
#{include 'nav.html' /}
    
<div id="maincontent">
  <div id="primary">    
    <p> 
      <img src="/homeprofile/getpicture/${user.id}"/>
    </p> 
    <form action="/homeprofile/upload/${user.id}" method="post" enctype="multipart/form-data">  
      <input type="file" name="picture" />     
      <input type="submit" name="submit" value="upload"  />  
    </form>  
  </div>  
  <div id="secondary">
    <form action="homeprofile/changetext" method="post">         
      <textarea name="profiletext" cols="30" rows="8" ></textarea>  
      <input type="submit" name="submit" value="Change"  /> 
    </form>
    <p>
      Status: ${user.statusMessage}
    </p>
    <p>
      Email: ${user.email}
    </p>
  </div>
</div>
