<div id="navigation">
  <ul id="tabs">
    <li id="home">        <a href="/home"> home    </a></li>
    <li id="members">     <a href="/members"> members </a></li>
    <li id="homeprofile"> <a href="/homeprofile"> profile </a></li>
    <li id="logout">      <a href="/logout"> logout  </a></li>
  </ul>
</div>