#{extends 'main.html' /}
#{set title:'Spacebook Members' /}
#{include 'nav.html' /}

<div id="maincontent">
  <div id="primary">   
    <h2> Members </h2> 
    <ul> 
      #{list items:users, as:'user'}
      <li> 
        ${user.lastName}, ${user.firstName}: <a 
          href="members/follow/${user.id}">(follow)</a> 
      </li>
      #{/list}
    </ul>  
  </div> 
</div>