#{extends 'main.html' /}
#{set title:'Login to Spacebook' /}

<div class="formstyle">
  <form id="login" action="/authenticate" method="POST">
    <label>Email</label> 
    <input type="text" name="email" id="email" />
    
    <label>Password</label>
    <input type="password" name="password"  id="password" /> 
    
    <input class="formbutton" type="submit" value="Login" />
  </form>
</div>