#{extends 'main.html' /}
#{set title:'Signup for Spacebook' /}

<div class="formstyle">
  <form id="signup" action="/register" method="POST">
    <label>Email</label> 
    <input type="text" name="email" id="email" />
    
    <label>First name</label> 
    <input type="text" name="firstName"  id="firstName" /> 
    
    <label>Last name</label> 
    <input type="text" name="lastName"  id="lastName" /> 
    
    <label>Password</label>
    <input type="password" name="password"  id="password" /> 
    <input type="password" name="password2" id="password2" /> 

    <input class="formbutton" type="submit" value="Signup" />
  </form>
  <p>
    Enter your desired password twice. It must be at least 5 characters.
  </p>
</div>